.answers {
  background-image: url('../images/manuscript.jpg');  
  background-size: cover;
  background-position: right;
  height: 100vh;
  text-align: justify;
}

.choice_box {
  /* background-color: darkturquoise; */
}

.choice_box p {
  font-size: 1.4rem;
  color: black;
}

.choice_box .requires {
  font-size: 1.2rem;
  color: #9c27b0;
}
