.life-sphere-container {
  height: 150px;
  width: 194px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.life-sphere-content-container {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.life-sphere-content {
  flex: 1;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: height 2s ease-in-out;
}

.life-sphere-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
}