.App {
  cursor: url("./images/sword.png"), pointer;
}

.App .row {
  margin-bottom: 0;
}

.character_sheet {
  background-image: url('./images/manuscript.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
